<h2>Welcome to angular 8 material checking jsonplaceholder!</h2>

<p>In this page you can: </p>
<p>Choose to view each default component from angular material</p>
<ul>
    <li><a [routerLink]="'/address'">Address Form</a></li>
    <li><a [routerLink]="'/dashboard'">Dashboard</a></li>
    <li><a [routerLink]="'/navigation'">Navigation</a></li>
    <li><a [routerLink]="'/table'">Table</a></li>
    <li><a [routerLink]="'/tree'">Tree</a></li>
</ul>

<p>View a list with all default components in series</p>
<ul>
    <li><a [routerLink]="'/all'">All Components</a></li>
</ul>

<p>Go finaly to the page that consults the jsonplaceholder website.</p>